{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    {% if not request.user.is_authenticated %}
        <form method="post" action="/accounts/login">
            {% csrf_token %}
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="submit">
        </form>
    {% else %}
        <p>You want to logout? <a href="logout">logout</a></p>
    {% endif %}
{% endblock %}